/* Useful Bootstrap CSS classes:
    
    text-left       (-center, right, jsutify, nowrap)


*/

body {
    background-color: #CCC;
}

.row {
    margin-left: 0;
    margin-right: 0; 
}

tr td {
    width: 66px;
    color: white;
}

tr {
    width: 66px;
    height: 25px;    
}

#dropdownMenu1 {
    font-size: 20pt;
}

.container-fluid {
    padding: 0px;
    max-width: 525px;
    min-width: 325px;
    box-shadow: 2px 2px 5px #888888;
}

.hidden {
    display: none;
}

#busTable {
    position: relative;
}

.table {
    top: 62px;
}

#header {
    top: 0px;
    position: fixed;
    width: 525px;
    z-index: 1;
    display: block;  
}

#header-bar div p {
    margin: 10px 0 7px 0;
    font-size: 15px;  
}

#header-bar {
    background-color: #014185;
    background-color: #333;
    background-color: #EBA023;
    color: white;    
}

.busInfo {
    vertical-align: middle;
}

.busInfo > h4 {
    font-size: 25px;
}

.busTime {
    font-size: 50px;
    vertical-align: middle !important;
}

.busTime p {
    font-size: 17px;
    position: relative;
    bottom: 5px;
    
}

.iris {
    background-color: purple;
}

.valor {
    background-color:#FF7216;
    background-color:  #0198E1;
}

.mystic {
    background-color: #00AEF0;
    xbackground-color: #05EDFF;
    background-color:  #089D29;
    background-color: #014185;
}

.intuition {
    background-color:#FF510F;
    background-color:#FF7216;
    background-color: #89e0f0;
    background-color:  #089D29;
}

.memento {
    background-color: #FF7216;
}

.valor, .intuition, .mystic {
    xbackground-color: #00AEF0;
}

td p {
    line-height: 10px;
    font-size: 14px;
}

.glyphicon {
    font-size: 12px;
}

.dark {
    color: #EEE;
}

#locations {
    margin: 0px;
    display: none;
}

#locations > div {
    padding: 10px 0 0 0;
    cursor: pointer;
    border-left: 2px solid #DDD;
    height: 60px;
} 

#selectedStop {
    display: none;
}

#SAP {
    border-left: none !important; /* optimeize and then remove this */
}

#locations > div:hover {
    background-color: #014185;
    background-color: #ddd;
    color: white;   
    color: #333; a  
}


#locations h4 {
    font-size: 13px;
    text-align: center;
}

.vcenter {
    vertical-align: middle;
}

.center-icon {
    top: 8px;
    display: block;
    margin: 0 auto;
    width: 28px;
    font-size: 29px;
}

.locSelected {
    background-color: #014185;
    background-color: #333;
    background-color: #EBA023;
    color: white;
}

.locSelected:hover {
    background-color: #EBA023;
    background-color: #333 !important;
    color: white !important;
}

.bg-light-grey {
    background-color: #EEE;
}

.h-border-dark {
    border-bottom: 3px solid #333;
}

.second-table > tbody  tr  td {
    margin: 0;
    padding: 0;    
}

.second-table {
    margin-bottom: 5px;
}

.busInfo *{
    border: solid 1px white;
    border: none !important;
    background-color: transparent !important;    
}

.busName {
    font-size: 35px;
    margin: 10px 0 0 3px;   
}

.busDirection, .busStop {
    padding: 5px 0 0 3px ;
    margin: 0px;
    font-size: 17px;
}

.busStop {
    font-size: 95%;
    padding-top: 5px;
}

.btn-custom {
    width: 100%;
    border: none;    
    border-radius: 0;
    background-color: #333;
    background-color: #eba023;
    color: white;
}

.btn-custom:hover {
    background-color: #333;
    color: white;
}

.btn-custom:focus {
    background-color: #333 !important;
    color: white !important;
}

.btn-custom:active {
    background-color: #333 !important;
    color: white !important;  
} 

#station-search {
    width: 92%;
    margin: 10px auto;
    display: block;    
}

.move-table {
    top: 102px;
}

.dropdown-menu-custom {
    width: 100%;
    margin-top: 0px;
    border: none;
    border-radius: 0;
    background-color: #333;
    color: #DDD;
}

.dropdown-menu-custom > li >a {
    color: white;    
}

@media only screen and (max-device-width: 667px) 
and (-webkit-device-pixel-ratio: 2) {

#header {
    width: 375px;
}

#busTable {
    border-left: none;
    border-right: none;
}

}